@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#topBar {
  width: 100%;
  padding: 4px;
}

a {
  color: #0000bb;
  text-decoration: none;
  transition: color 0.5s ease;
}

body {
   margin: auto;
  line-height: 1;
   font-family: "Noto Sans", sans-serif;

}


a:hover {
  color: #0077bb;
  text-decoration: underline; /* Adds an underline on hover */
}
