@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#topBar {
  width: 100%;
  padding: 4px;
}

a {
  color: #bbbbff;
  text-decoration: none;
  transition: color 0.5s ease;
}

body {
   margin: auto;
  padding: 10px;
  background-color: #222222;
  color: #ffffff;
  line-height: 1;
   font-family: "Noto Sans", sans-serif;

}

button {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
}


a:hover {
  color: #77bbff;
  text-decoration: underline; /* Adds an underline on hover */
}
